#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


%:
	dh $@  --with autotools-dev

override_dh_auto_clean:
	# Temporarily override failing clean target

override_dh_install:
	# Just to see if there are uninstalled files
	dh_install --list-missing

get-orig-source:
	uscan --verbose --force-download --repack
